.project-call {
  height: 500px;
  padding: 8rem;
  display: flex;
  gap: 30rem;
  background-color: rgba(0, 0, 0, .05);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.project-call * {
  text-align: left;
}

.project-call > .project-call-wording, .project-call-contact {
  display: flex;
  gap: 32px;
  flex-direction: column;
  justify-content: center;
}

.project-call > .project-call-wording > button {
  margin-top: 55px;
}

.project-call-contact {
  width: 200px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 64px;
}

.footer > div {
  display: flex;
  gap: 1rem;
}