* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  padding: 30px 64px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.space {
  flex: 1;
}

.navigation {
  display: flex;
  gap: 20px;
}

.button {
  padding: 16px;
  border-radius: 30px;
  border: none;
  color: white;
  min-width: 60px;
  cursor: pointer;
  background: linear-gradient(119.33deg, #0488F5 12.89%, #080DFA 97.13%);
box-shadow: 11px 13px 18px -8px rgba(0, 0, 0, 0.25);
}

img.non-round {
  border-radius: 0;
}